<!DOCTYPE html>
<html>
  <head>
    <title><%= data.hello %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= data.hello %></h1>
    <p>Welcome to <%= data.hello %></p>
  <a href='http://localhost:3000' class="button">한국어</a>
    <a href='http://localhost:3000?lang=en' class="button">영어</a>
  </body>
</html>
